{% extends 'index.html' %}
{% block form-group %}

    <ul class="layui-nav layui-bg-blue" >
  <li class="layui-nav-item layui-this"><a href='{% url 'front:index' %}'>首页</a></li>
  <li class="layui-nav-item "><a href='{% url 'front:denglu'%}'>登录</a></li>
  <li class="layui-nav-item"><a href='{% url 'front:register'%}'>注册</a></li>

</ul>

<!--轮播图-->

 <div class="layui-carousel" id="test1" style=" margin: 0px auto;">
  <div carousel-item>
    <div><img src="/static/img/lunbo1.png" style="height:600px;width:1600px;"></div>
    <div><img src="/static/img/lunbo2.png" style="height:600px;width:1600px;"></div>
    <div><img src="/static/img/lunbo3.png" style="height:600px;width:1600px;"></div>
    <div><img src="/static/img/lunbo4.png" style="height:600px;width:1600px;"></div>
    <div><img src="/static/img/lunbo5.png" style="height:600px;width:1600px;"></div>
    <div><img src="/static/img/lunbo6.png" style="height:600px;width:1600px;"></div>
  </div>
</div>
<form class="layui-form" action="" method="post" style="width:500px;height:300px;position:absolute;top:200px;left:300px;background-color:#fff;">
    {% csrf_token %}
{#	<div style="margin:20px 50px;font-size:20px; width:400px;border-bottom-style:solid;border-color:#3ab9f4;text-align：center;">车票查询</div>#}
    <div style="margin: 20px 50px;front-size:20px;width:400px;border-bottom-style: solid;border-color: #3ab9f4;text-align: center;">车票查询</div>
	<div class="layui-form-item" style="margin:20px;">
   	 	<label class="layui-form-label">出发城市</label>
    	<div class="layui-input-block"  style="width:200px;height:20px;">
			<select name="startcity" lay-verify="" lay-search >
	 			<option value="" selected></option>
  				<option value="成都">成都</option>
  				<option value="上海">上海</option>
  				<option value="北京" >北京</option>
				<option value="武汉">武汉</option>
			</select>
        </div>
    </div>

    <div class="layui-form-item" style="margin:20px;">
    	<label class="layui-form-label">到达城市</label>
    	<div class="layui-input-block"  style="width:200px;height:20px;">
			<select name="arrcity" lay-verify="" lay-search >
	 			<option value="" selected></option>
  				<option value="成都">成都</option>
  				<option value="上海">上海</option>
  				<option value="北京" >北京</option>
				<option value="武汉">武汉</option>
			</select>
    	</div>
  	</div>

	<div class="layui-form">
  		<div class="layui-form-item">
    		<div class="layui-inline">
      			<label class="layui-form-label">日期</label>
      			<div class="layui-input-inline">
        			<input type="text" name="tdata" class="layui-input" id="test29" placeholder="yyyy-MM-dd">
      			</div>
    		</div>
    	</div>
	</div>

 	<div class="layui-form-item">
    	<div class="layui-input-block">
      		<button class="layui-btn" value="提交" type="submit" lay-filter="formDemo">立即提交</button>
      		<button type="reset" class="layui-btn layui-btn-primary">重置</button>
    	</div>
  	</div>

</form>

<div style="width:500px;margin:20px;display:inline-block;">

<fieldset class="layui-elem-field">
  <legend style="font-weight:500;">最新公告</legend>
  <div class="layui-field-box">
      <blockquote class="layui-elem-quote" style="border-color:#0b93d2;"><a href="{% url 'front:tankuang' 0 %}">{{ a }}</a></blockquote>
      <blockquote class="layui-elem-quote" style="border-color:#0b93d2;"><a href="{% url 'front:tankuang' 1 %}">{{ b }}</a></blockquote>
      <blockquote class="layui-elem-quote" style="border-color:#0b93d2;"><a href="{% url 'front:tankuang' 2 %}">{{ c }}</a></blockquote>
      <blockquote class="layui-elem-quote" style="border-color:#0b93d2;"><a href="{% url 'front:tankuang' 3 %}">{{ d }}</a></blockquote>
      <blockquote class="layui-elem-quote" style="border-color:#0b93d2;"><a href="{% url 'front:tankuang' 4 %}">{{ e }}</a></blockquote>
      <blockquote class="layui-elem-quote" style="border-color:#0b93d2;"><a href="{% url 'front:tankuang' 5 %}">{{ f }}</a></blockquote>

  </div>

</fieldset>

</div>

<div style="width:500px;margin:20px;display:inline-block;">
<fieldset class="layui-elem-field">
  <legend  style="font-weight:500;">常见问题</legend>
  <div class="layui-field-box">
       <blockquote class="layui-elem-quote" style="border-color:#0b93d2;"><a href="{% url 'front:tankuang' 6 %}">{{ g }}</a></blockquote>
      <blockquote class="layui-elem-quote" style="border-color:#0b93d2;"><a href="{% url 'front:tankuang' 7 %}">{{ h }}</a></blockquote>
      <blockquote class="layui-elem-quote" style="border-color:#0b93d2;"><a href="{% url 'front:tankuang' 8 %}">{{ i }}</a></blockquote>
      <blockquote class="layui-elem-quote" style="border-color:#0b93d2;"><a href="{% url 'front:tankuang' 9 %}">{{ j }}</a></blockquote>
      <blockquote class="layui-elem-quote" style="border-color:#0b93d2;"><a href="{% url 'front:tankuang' 10 %}">{{ k }}</a></blockquote>
      <blockquote class="layui-elem-quote" style="border-color:#0b93d2;"><a href="{% url 'front:tankuang' 11 %}">{{ l }}</a></blockquote>

  </div>
</fieldset>
  </div>

{% endblock %}