<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>旅客信息</title>
 <link rel="stylesheet" href="/static/layui-v2.5.4/layui/css/layui.css">
</head>
<body >
	<!--导航栏-->
<ul class="layui-nav layui-bg-blue" >
  <li class="layui-nav-item "><a href="{% url 'front:index3' id%}">首页</a></li>
  <li class="layui-nav-item "><a href="{% url 'front:information3' id %}">个人信息</a></li>
  <li class="layui-nav-item "><a href="{% url 'front:trainInformation' id %}">车次信息</a></li>
  <li class="layui-nav-item layui-this"><a href="{% url 'front:travellerInformation' id %}">旅客购票信息</a></li>
  <li class="layui-nav-item"><a href="{% url 'front:count' id %}">统计信息</a></li>
  <li class="layui-nav-item"><a href="{% url 'front:other' id %}">公告</a></li>
    <li class="layui-nav-item"><a href='{% url 'front:index' %}'>{{ uname }}|退出</a></li>
</ul>
<div style="width: 1300px;margin: 0 auto;">
  <form action="{% url 'front:select_traininfo2' id %}" method="get">
           <input placeholder="日期" name="tdata" id="tdata">
      <input placeholder="车次" name="tno" id="tno">
        <input placeholder="出发城市" name="startcity" id="startcity">
        <input placeholder="到达城市" name="arrcity" id="arrcity">
            <input type="submit" class="layui-btn" value="搜索">
        </form>

        <table class="layui-table">
      <colgroup>
        <col width="150">
        <col width="200">
        <col>
      </colgroup>
      <thead>
        <tr>
            <th>id</th>
            <th>日期</th>
            <th>购票人</th>
            <th>车次</th>
            <th>出发城市</th>
            <th>到达城市</th>
            <th>出发时间</th>
            <th>到达时间</th>
            <th>价格（元）</th>
        </tr>
      </thead>
      <tbody>
        {%for train in data%}
            <tr>
            <td>{{ train.id}}</td>
               <td>{{ train.tdata}}</td>
                <td>{{ train.uname}}</td>
                <td>{{train.tno}}</td>
                <td>{{train.startCity}}</td>
            <td>{{train.arrCity}}</td>
                <td>{{train.startTime}}</td>
                <td>{{train.arrTime}}</td>
{#                <td>{{train.ticketBuy}}</td>#}
            <td>{{train.price}}</td>

            </tr>
        {%endfor%}
      </tbody>
        </table>

</div>




<script src="/static/layui-v2.5.4/layui/layui.js" charset="utf-8"></script>

<script>


</script>
</body>
</html>